body {
    font-family: 'Roboto';
    margin: 0 50px;
    /* background-color: grey; */
}

/* COLOR */

:root {
    --pale-yellow: #fbffa7;
    --purple: #d5b3ff;
    --orange: #ff764d;
    --pale-green: #b6ffc0;
    --pale-blue: #b1c5ff;
    --blue: #0000ff;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.nav-left-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-bar-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    padding: 0;
}

.nav-bar-left ul {
    margin: 0;
    padding: 0;
}

.nav-bar-left-list a {
    text-decoration: none;
    color: black;
    margin: 5px;
}

.nav-bar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar-right-list a {
    text-decoration: none;
    color: black;
    margin: 5px;
}

#try-live {
    color: var(--blue);
}


/* MAIN */

/* FIRST CONTAINER */

.first-container-list {
    padding: 0;
}

.first-container-list a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin: 10px;
}

#about {
    color: var(--orange);
}

.ableton-image {
    height: 400px;
    width: 800px;
    margin: 0 auto;
    background-image: url("../Ableton-mock/css-images/ableton-image.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* SECOND CONTAINER */

.second-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.second-container-text {
    height: 250px;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 2px;
}

.blue {
    color: var(--blue);
}

.second-section-h3 {
    font-size: 18px;
}

.second-section-paragraph {
    font-size: 14px;
}

.yellow-images-container {
    height: 600px;
    width: 800px;
    background-color: var(--pale-yellow);
    display: flex;
    position: relative;
}

.keypads-image {
    height: 400px;
    width: 350px;
    background-image: url('../Ableton-mock/css-images/keypads-image.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    position: relative;
    left: -80px;
}

.woman-walking-blurry-image {
    height: 300px;
    width: 350px;
    background-image: url('../Ableton-mock/css-images/woman-walking-blurry.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 150px;
    margin-left: 20px;
    position: relative;
}

@media (max-width: 1000px) {
    .keypads-image {
        left: -40px;
    }
}

/* THIRD CONTAINER */

.third-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.third-container-text1 {
    height: 150px;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 2px;
}

.third-container-text2 {
    height: 250px;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 2px;
}

.third-section-h3 {
    font-size: 18px;
}

.third-section-paragraph {
    font-size: 14px;
}

.youtube-video {
    margin-top: 10px;
    width: 50vw;
}

@media (min-width: 1000px) {
    .youtube-video {
        width: 30vw;
    }
}

/* FOURTH CONTAINER */

